# MQTT BROKER CONFIG
MQTT_BROKER_HOST=<e2l_mqtt_broker_hostname>
MQTT_BROKER_PORT=<e2l_mqtt_broker_port>
MQTT_USERNAME=<e2l_mqtt_broker_username>
MQTT_PASSWORD=<e2l_mqtt_broker_password>
MQTT_TOPIC=<e2l_mqtt_process_topic>             # Default: /process/input
MQTT_TOPIC_OUTPUT=<e2l_mqtt_output_topic>       # Default: sink/e2l-process/output/aggregation

# WINDOW SIZE CONFIG
WINDOW_SIZE_HAMPEL=<window_size_hampel_filter>  # Default: 600
WINDOW_LENGTH=<window_length>                   # Default: 60
SLIDE_INTERVAL=<slide_interval>                 # Default: 60