# APPLICATION INFO
APPLICATION_ID=<application_id_from_tts>

# TTS MQTT SETUP
TTS_MQTT_PASSWORD=<mqtt_token_from_tts>
TTS_MQTT_USERNAME=<mqtt_username_from_tts> # Usually same as application id
TTS_MQTT_HOST=<tts_mqtt_host> # IP or hostname of the MQTT endpoint (TTS)
TTS_MQTT_PORT=<tts_mqtt_endpoint_port> # default: 1883
TTS_MQTT_BASE_TOPIC=v3/${APPLICATION_ID}/devices/
TTS_MQTT_UPLINK_TOPIC=${MQTT_BASE_TOPIC}+/up
TTS_MQTT_OTAA_TOPIC=${MQTT_BASE_TOPIC}+/join

# E2L MQTT SETUP
E2L_MQTT_PASSWORD=<e2l_mqtt_broker_password>
E2L_MQTT_USERNAME=<e2l_mqtt_broker_username>
E2L_MQTT_HOST=<e2l_mqtt_broker_host>
E2L_MQTT_PORT=<e2l_mqtt_broker_endpoint_port>
E2L_MQTT_AGGR_TOPIC=/test/topic

# DASHBOARD SECTION
# DASHBOARD_RPC_HOST=147.163.12.129
DASHBOARD_RPC_HOST=<rpc-dashboard-endpoint-address>
DASHBOARD_RPC_PORT=<rpc-dashboard-endpoint-port>

# RPC
RPC_SERVER_PORT=<rpc_endpoint_port> # default: 50051

# MONGO DB
MONGO_HOST=<mongo_db_endpoint_address>
MONGO_PORT=<mongo_db_endpoint_port> # default: 27017
MONGO_DB_NAME=<mongo_db_name>
MONGO_COLLECTION_NAME=<mongo_collection_name>

# DEVICE LIST FILE
DEVICE_LIST_FILE=<path_to_device_json_file>
SPLIT_DEVICES=1 # Set to 1 to split the devices between the two GWs, 0 otherwise.

# GW SHUT
# @note: gw2 will be disabled after receiving half of the total packets of the experiment
GW_SHUT=<enable_gw_shut> # 1 enabled, disabled otherwise
DEVICE_NUMBER=<number_of_devices>
PACKET_NUMBER=<number_of_packet_per_device>
PACKET_DIVISOR=4

# DEFAULT AGGREGATION WINDOWS SIZE 
DEFAULT_AGGR_WINDOWS_SIZE=10